@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #FFFFFF;
}

.nav-bg {
    background-color: #e3f2fd;
}